- breadcrumb :edit_manage_task_test_case
h1 ファイル編集
= form_tag(manage_task_test_case_path(@task, @test_case), method: :put) do
  = label_tag :file_name, 'ファイル名'
  = text_field :test_case, :file_name, { value: @test_case.file_name, class: 'form-control' }

  = label_tag :memo, 'メモ'
  = text_field :test_case, :memo, { value: @test_case.memo, class: 'form-control' }

  = label_tag :content, '内容'
  = text_area :test_case, :content, { value: @test_case.content, class: 'form-control', rows: '30' }

  = submit_tag 'submit', { value: 'ファイルを更新する', class: 'btn btn-primary' }